<?xml version="1.0"?>
<MainConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplictionSecKey />
  <Cookiedomain />
  <Urlrewrite>1</Urlrewrite>
  <Urlrewriteextname>.aspx</Urlrewriteextname>
  <Globalcachetimeout>10</Globalcachetimeout>
  <Templatefolder>default</Templatefolder>
  <Closed>0</Closed>
  <Closedreason />
  <Websitename>盛夏之地</Websitename>
  <Seotitle>技术同好会</Seotitle>
  <Analyticscode />
</MainConfigInfo>