@model Discuz.Common.Generic.List<Discuz.Entity.IndexPageForumInfo>

<ul>
@foreach (var forum in Model)
{
    <li>@forum.Name</li>
}
</ul>
执行时间：@ViewBag.Processtime 查询次数：@ViewBag.Querycount
@Html.Raw(ViewBag.DebugHtml)