<?xml version="1.0" encoding="utf-8" ?> 
<urls>
     <rewrite name="showcolumn"
          path="/showcolumn-{0}-{1}.aspx"
          pattern = "/showcolumn-(\d+)(-(\d+))?.aspx"
          page="/showcolumn.aspx"
          querystring="cid=$1^pageid=$3" />
    <rewrite name="showarticle"
          path="/showarticle-{0}.aspx"
          pattern = "/showarticle-(\d+).aspx"
          page="/showarticle.aspx"
          querystring="id=$1" />
</urls>