<%namespace LiteCMS.Data%>
<%namespace LiteCMS.Entity%>
<%inherits LiteCMS.Web.login%>

<%template _header%>
	<!--内容开始-->
	<%template _rightside%>
	
	<!--左栏开始-->
	<div id="left-side">
		<!--文章开始-->
		<div class="div-header">用户登录</div>		
		<form action="" method="post" id="login">
		<table>
		    <tr>
		        <th>帐号: </th><td><input id="loginid" name="loginid" type="text" />(请输入注册邮箱作为帐号)</td>
		    </tr>
		    <tr>
		        <th>密码: </th><td><input id="password" name="password" type="password" /></td>
		    </tr>
		    <tr>
		        <th></th><td><input type="submit" value="登录" /><span><a href="findpassword.aspx">忘记密码?点击找回</a></span></td>
		    </tr>
		</table>
		</form>
		<!--文章结束-->
	</div>
	<!--左栏结束-->

	<!--内容结束-->

<%template _footer%>