body
{
    font-size: 14px;
    font-family: Tahoma, 'Microsoft Yahei' , 'Simsun' , Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
    color: #232323;
    background-color: #006400;
}
ul, li
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
ul
{
    list-style-type: none;
}
#wp
{
    width: 960px;
    margin: 0 auto;
    padding: 5px;
    background-color: #FFF;
}
#header
{
    min-height: 55px;
}

#post_list
{
    padding: 5px;
}
.post_info
{
    min-height: 120px;
    margin-bottom: 10px;
    padding: 5px;
}

#wp, .post_info, #toolbar
{
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #228B22;
    -webkit-box-shadow: 2px 2px 5px #228B22;
    box-shadow: 2px 2px 5px #228B22;
}
.post_info, input, textarea
{
    background-color: #EEFAEE;
}
input, textarea, fieldset
{
    border: 1px solid #228B22;
}
.post_info hr
{
    color: #32CD32;
}
.post_info .date
{
    margin-left: 5px;
}
#Content
{
    width: 915px;
}
#nav
{
    height: 31px;
    -moz-box-shadow: 2px 2px 5px #228B22;
    -webkit-box-shadow: 2px 2px 5px #228B22;
    box-shadow: 2px 2px 5px #228B22;
}
#nav li
{
    float: left;
    width: 45px;
    height: 31px;
    line-height: 31px;
    text-align: center;
}
a
{
    text-decoration: none;
}
#nav a
{
    font-size: 16px;
    font-weight: bold;
}

#nav a, a:visited
{
    color: Black;
}
#main
{
    margin-top:20px;
}
#toolbar
{
    position: fixed;
    bottom: 5px;
    z-index: 9999;
    height: 30px;
    width: 560px;
    border: 1px solid #228B22;
    background-color: #EEFAEE;
    line-height: 30px;
    padding-left: 6px;
}
#footer
{
    margin: 5px 2px;
    float:right;
}
/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    /*border: 1px solid #ddd;*/
    padding: 0 14px 14px 14px;
    margin: 0 0 15px 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
