<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=127.0.0.1;Port=3306;User ID=web;Password=123123;Initial Catalog=litecms;Pooling=true;Allow Zero Datetime=true;charset=utf8</Dbconnectstring>
  <Dbtype>MySql</Dbtype>
  <Tableprefix>wy_</Tableprefix>
  <ApplictionPath>/</ApplictionPath>
</BaseConfigInfo>