<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>~\config\db.config</Dbconnectstring>
  <Dbtype>Sqlite</Dbtype>
  <Tableprefix>wy_</Tableprefix>
  <ApplictionPath>/</ApplictionPath>
</BaseConfigInfo>