<%namespace LiteCMS.Data%>
<%namespace LiteCMS.Entity%>
<%inherits LiteCMS.Web.findpassword%>

<%template _header%>
	<!--内容开始-->
	<%template _rightside%>
	
	<!--左栏开始-->
	<div id="left-side">
		<div class="div-header">找回密码</div>
		<br />
		<br />
		<form action="" method="post" id="login">
		    <table>
		    <%if !{ispost}%>
		        <tr>
		            <th>登录帐号: </th><td><input id="loginid" name="loginid" type="text" />(请填写注册的邮箱地址,本站将采用Email激活登陆.)</td>
		        </tr>
		        <tr>
		            <th></th><td><input type="submit" value="提交" /></td>
		        </tr>
		    <%else%>
		        <tr>
		            <th>登录帐号: </th><td>{findusername}<input id="loginid" name="loginid" type="hidden" value="{findusername}" /></td>
		        </tr>		    
		        <tr>
		            <th>找回密码提示问题: </th><td>{secques}</td>
		        </tr>
		        <tr>
		            <th>找回密码提示答案: </th><td><input id="secretanswer" name="secretanswer" type="text" />(请输入注册时填写的验证回答.)</td>
		        </tr>
		        <tr>
		            <th>新密码  : </th><td><input id="password" name="password" type="password" />(如果您的验证问答正确,可重置登录密码)</td>
		        </tr>
		        <tr>
		            <th>重复密码: </th><td><input id="password2" name="password2" type="password" />(请再次输入,以确认密码.)</td>
		        </tr>
		        <tr>
		            <th></th><td><input type="submit" value="重设密码" /></td>
		        </tr>
		    <%/if%>
		    </table>
		</form>
	</div>
	<!--左栏结束-->

	<!--内容结束-->

<%template _footer%>