	<div id="footer">
	    <div>
		    <ul>
			    <li><a href="#">关于本站</a></li>
			    <li><a href="#">联系我们</a></li>		
			    <li><a href="#">广告服务</a></li>	
			    <li>版权所有 © 2004-2008 <a href="#">{config.websitename}</a></li>
			    <li title="执行时间:{processtime},查询数:{querycount}">Powered by <a href="http://www.litecms.cn/">{productname}</a> {productversion}</li>
		    </ul>
		</div>
		<br />
		<div id="FriendLink" style="float:right; ">
		    <ul>
		        <li>友情连接:<a href="http://phprimer.com/" title="PHP/Ruby/交互设计/Ajax/RIA/CSS 技术宝典" target="_blank">PHPrimer</a> | <a href="#">更多</a>.</li>
		        <li>合作伙伴：<a target="_blank" href="http://www.microsoft.com/">微软</a> | <a target="_blank" href="http://www.infoq.com/cn/">InfoQ中文站</a>.</li>
		        <li>合作出版社：<a target="_blank" href="http://www.broadview.com.cn/">博文视点</a> | <a target="_blank" href="http://www.turingbook.com/">图灵</a>.</li>
		    </ul>
		</div>
		{config.Analyticscode}
	</div>
</div>
</body>
</html>
