/*基本信息*/
body {
	font:12px Tahoma;
	margin:0px;
	text-align:center;
	background:#FFF;
}
#container {
	width:800px; /*指定宽度为800像素*/
	height:550px;
	margin:10px auto; /*页面上、下边距为10个像素，并且居中显示*/
}
#menu {
	float:left;
	padding:20px 0 20px 40px; /*利用padding:20px 20px 0 0来固定菜单位置*/
	
}
/*菜单的超链接样式*/
#menu a:link,#menu ul li a:visited {
	font-weight:bold;
	color:#666
}
#list {
	width:800px; /*设定宽度*/
        margin:8px auto; /*居中*/
	padding:0 40px 0 40px; /*利用padding:20px 20px 0 0来固定菜单位置*/
}
#ckbox{
	width:13px;
}
#del {
	width:37px;
}
#title {
	width:390px;
}
#user {
	width:100px;
}
#time {
	width:260px;
}
.pager {
	width:800px; /*设定宽度*/
}

