<?xml version="1.0"?>
<DiscuzCloudConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Cloudenabled>0</Cloudenabled>
  <Cloudsiteid />
  <Cloudsitekey />
  <Sitekey>WVrroSgUlHdvBwWa</Sitekey>
  <Connectenabled>0</Connectenabled>
  <Connectappid />
  <Connectappkey />
  <Allowconnectregister>1</Allowconnectregister>
  <Allowuseqzavater>1</Allowuseqzavater>
  <Maxuserbindcount>0</Maxuserbindcount>
</DiscuzCloudConfigInfo>