</div>
      
      
      <!--footer-->
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr height="91">
	<td width="800" background="images/index/def_foot01.jpg">
	</td>
	</tr>
	</table>
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr height="73">
	<td align="center" style="background:#3C458A; width:800px; color:#FFF">
	       <span class="menudiv STYLE4" title="执行时间:{processtime}:查询数:{querycount}">版权所有 重庆工学院计算机协会<br />
      Copyright &copy;2007 All Rights Reserved<br />
      推荐使用IE6.0在1024*768分辨率下浏览</span>	</td>
	</tr>
	</table>
    </div>
    </form>
</body>
</html>