@model EmiForum.Models.Entity.ShortUserInfo

@{
    ViewBag.Title = "用户登录";
}

<h2>用户登录</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>登录</legend>
        <div class="editor-label">
            <label for="Email">
                邮箱地址</label>
        </div>
        <div class="editor-field">
            <input type="email" value="" name="Email" id="Email" class="text-box single-line" autofocus="true" required>
            <span data-valmsg-replace="true" data-valmsg-for="Email" class="field-validation-valid">
            </span>
        </div>
        <div class="editor-label">
            <label for="Password">
                密码</label>
        </div>
        <div class="editor-field">
            <input type = "password" name="Password" id="Password"  class="text-box single-line" required/>
            <span data-valmsg-replace="true" data-valmsg-for="Password" class="field-validation-valid">
            </span>
        </div>
        <p>
            <input type="submit" value="登录" />
        </p>
    </fieldset>
}

@ServerInfo.GetHtml()