<?xml version="1.0" encoding="utf-8" ?>
<urls>
  <rewrite name="showcolumn"
       path="/showcolumn-{0}-{1}.aspx"
       pattern = "/showcolumn-(\d+)(-(\d+))?.aspx"
       page="/showcolumn.aspx"
       querystring="cid=$1^pageid=$3" />
  <rewrite name="showcolumn-recommend"
        path="/showcolumn-{0}-{1}.aspx"
        pattern = "/showcolumn-([a-z]+)(-(\d+))?.aspx"
        page="/showcolumn.aspx"
        querystring="type=$1^pageid=$3" />
  <rewrite name="showcolumn-hot"
        path="/showcolumn-{0}-{1}.aspx"
        pattern = "/showcolumn-([a-z]+)(-(\d+))?.aspx"
        page="/showcolumn.aspx"
        querystring="type=$1^pageid=$3" />
  <rewrite name="showarticle"
        path="/showarticle-{0}-{1}.aspx"
        pattern = "/showarticle-(\d+)(-(\d+))?.aspx"
        page="/showarticle.aspx"
        querystring="id=$1^commentpageid=$3" />
  <rewrite name="search"
        path="/search-{0}-{1}.aspx"
        pattern = "/search-([a-z]+)(-(\d+))?.aspx"
        page="/search.aspx"
        querystring="searchkey=$1^pageid=$3" />
</urls>