<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--CMS数据库配置-->
    <add key="dbconnstring" value="Data Source=E:\Doctments\Documents\Works\Mine\iTCAWeb\branches\itcaweb\iTCA.Yuwen.Web\config\db.config" />
    <add key="dbtype" value="Sqlite" />
    
    <!--留言板以及会员数据库配置-->
    <add key="ConnStr" value="~/App_Data/db.mdb" />
    <add key="cn.edu.cqit.dc.login.login" value="http://login.dc.cqit.edu.cn/login.asmx" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" />
    <httpModules>
      <add type="Yuwen.Tools.HttpModule, iTCA.Yuwen.Core" name="HttpModule" />
    </httpModules>
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
                <add value="Default.htm" />
                <add value="default.html" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>  
</configuration>
